<%= render partial: 'tags', locals: { tags: @tags } %>

<% if @actions.present? || @tasks.present? %>
  <%# Tabs %>
  <div class="b-b b-primary nav-active-primary">
    <ul class="nav nav-tabs">
      <% if @actions.present? %>
        <li class="nav-item">
          <a id="goal-actions-tab" class="goal-content-tab nav-link active" href="" data-toggle="tab" data-target="#actions-partial">Действия</a>
        </li>
      <% end %>

      <% if @tasks.present? %>
        <li class="nav-item">
          <a id="goal-tasks-tab" class="goal-content-tab nav-link" href="" data-toggle="tab" data-target="#tasks-partial">Задачи</a>
        </li>
      <% end %>
    </ul>
  </div>
  
  <%# Tab content %>
  <div class="tab-content">
    <% if @actions.present? %>
      <div class="tab-pane animated fadeIn text-muted active" id="actions-partial" aria-expanded="true">
        <%= render partial: 'actions' %>
      </div>
    <% end %>

    <% if @tasks.present? %>
      <div class="tab-pane animated fadeIn text-muted" id="tasks-partial" aria-expanded="false">
        <%= render partial: 'tasks', locals: { tasks: @tasks } %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="p-y-lg clearfix">
    <div class="text-center text-muted">
      <h2 class="_700 m-b">Действий и задач нет</h2>
      <h5 class="m-b-md">Попробуйте ввести другой поисковой запрос</h5>
    </div>
  </div>
<% end %>

<%# %h1 GOALS Search
%b= "Query: #{params[:query]}"
%br= link_to 'К целям', objectives_goals_path
%hr


%h3 Tags
-if @tags.present?

  - @tags.each do |tag|
    %b= link_to tag.name, objectives_tag_path(tag.name)
%hr



%h3 Goals
-if @goals.present?
  %table
    %thead
      %tr
        %th Title
        %th Description
        %th Status
        %th Progress
        %th Start date
        %th End date
        %th Category
        %th Parent
        %th User
        %th
        %th
        %th

    %tbody
      - @goals.each do |goal|
        %tr
          %td= goal.title
          %td= goal.description
          %td= goal.status
          %td= goal.progress
          %td= goal.start_date
          %td= goal.end_date
          %td= goal.category_id
          %td= goal.parent_id
          %td= goal.user_id
          %td= link_to 'Show goal', objectives_goal_path(goal)
          %td= link_to 'Edit goal', edit_objectives_goal_path(goal)
          %td= link_to 'Destroy goal', objectives_goal_path(goal), method: :delete, data: { confirm: 'Are you sure?' }
%hr



%h3 Tasks
-if @tasks.present?
  %table
    %thead
      %tr
        %th Title
        %th Status
        %th User
        %th Goal
        %th Parent
        %th 
        %th
        %th
    %tbody
      - @tasks.each do |task|
        %tr
          %td= task.title
          %td= task.status
          %td= task.user_id
          %td= task.goal_id
          %td= task.parent_id
%hr %>
