<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Современный электронный дневник</h3>
        <p>В эпоху цифровых технологий пользоваться бумажным блокнотом не эффективно. Стоит так же иметь ввиду, что блокнот с ценными записями можно потерять, забыть, опролить жидкость и в конечном итоге испортить. LifeLog предоставит Вам возможность вести свой дневник и публиковать записи без опасности потери данных</p>

        <h3 class="ui header">Держите все под контролем</h3>
        <p>У вас много мыслей и идей? Мы можем помочь Вам их организовать и отображать в удобном формате. Вместе с LifeLog Вы можете хранить все важные моменты</p>
      </div>
      <div class="six wide right floated column">
        <img src="/images/about_diary.png" class="ui large bordered rounded image">
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'ui huge success button' %>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h4>"Аналогов LifeLog просто не существует. Это уникальный ресурс с простым и понятным интерфейсом и самыми необходимыми инструментами"</h4>
        <p><b>Вадим</b>, основатель LifeLog</p>
      </div>
      <div class="column">
        <h4>"После блокировки соц. сети 'Вконтакте' в Украине, LifeLog позволил мне делиться своими записями и публикациями с друзьями и близкими. Это очень удобно"</h4>
        <p><b>Марина</b>, журналист</p>
      </div>
    </div>
  </div>
</div>


