<div class="box">
  <div class="box-header dker">
    <h3>Поиск всех записей по тегу #<%= params[:name] %></h3>
  </div>
</div>

<% if @tag.present? %>
  <%= render template: 'publications/posts/index' %>
<% else %>
  <%= render partial: 'no_content' %>
<% end %>