default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password:
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: lifelog_development

test:
  <<: *default
  database: lifelog_test

production:
  <<: *default
  database: lifelog_production
  username: lifelog
  password: <%= ENV['LIFELOG_DATABASE_PASSWORD'] %>
