<%= form_for object, url: url, method: method do |f| %>
    <div class="input-group">
      <%= f.text_field :title, placeholder: 'Название категории', class: 'form-control form-control-sm' %>
      <span class="input-group-btn">
        <%= button_tag(type: 'submit', class: "btn btn-success btn-sm no-shadow") do %>
          <i class="fa fa-check"></i>
        <% end %>
      </span>
    </div>
<% end %>