<div class="box center-block w-600 m-t">
  <div class="box-header dker">
    <h2>Создание новой категории</h2>
  </div>

  <div class="box-divider m-a-0"></div>
  <%= render partial: 'form', locals: { object: :category, url: objectives_categories_path, method: :post } %>
</div>