<div class="box">

  <div class="box-header">
    <h3>Лента действий</h3>
    <small>20 действий</small>
  </div>

  
      <div class="box-tool">
        <ul class="nav">
          <li class="nav-item inline dropdown">
            <a class="nav-link text-muted p-x-xs" data-toggle="dropdown">
              <i class="fa fa-ellipsis-v"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-scale pull-right">
              <a class="dropdown-item" href="">New task</a>
              <a class="dropdown-item" href="">Make all finished</a>
              <a class="dropdown-item" href="">Make all unfinished</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">Settings</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="box-body">
        <div class="streamline b-l m-l">
          <div class="sl-item b-success">
            <div class="sl-icon">
              <i class="fa fa-check"></i>
            </div>
            <div class="sl-content">
              <div class="sl-date text-muted">8:30</div>
              <div>Завершена задача 'Составить техническое задание'</div>
            </div>
          </div>
          <div class="sl-item b-primary">
            <div class="sl-content">
              <div class="sl-date text-muted">Понедельник, 1 Мая 2017</div>
              <div>И так, сейчас работаю над шаблонами для целей. Идей мало, да и сам ui kit ограничивает в ассортименте компонентов. Пока что могу сказать, что текущий набросок мне нравится, он похож на сообщения Вконтакте, единый блок с сайдбаром и основным полем</div>
            </div>
          </div>
          <div class="sl-item b-primary">
            <div class="sl-content">
              <div class="sl-date text-muted">Воскресенье, 30 Мая </div>
              <div>Сегодня абсолютно небыло вдохновения что-либо делать, потуги сделать что-то по сайту увенчались лишь тем, что я кое как расписал STI для моделей. Но тут позвонил Егор и предложил завалиться в заведение. Ну.. работать я дальше уже не</div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <a href="" class="btn btn-sm warn text-u-c pull-right">Add one</a>
        <a href="" class="btn btn-sm white text-u-c">More</a>
      </div>
    </div>