<% if tags.present? %>
  <div class="m-t p-a-sm">
    <% tags.each do |tag| %>
      <%= link_to tag.name, diary_tag_path(tag.name), class: "btn btn-lg btn-outline rounded b-success text-success search-tag-item" %>
    <% end %>
  </div>
<% else %>
  <%= render partial: 'no_content' %>
<% end %>