.color-teal {
  color: #0CC2AA
} 

.color-purple {
  color: #A88ADD
} 

.color-orange {
  color: #FCC100
} 

.color-blue {
  color: #6887FF
}

.color-green {
  color: #6CC788
}

.color-rose {
  color: #F77A99
}

.color-red {
  color: #F44455
}