.category-teal {
  color: #0CC2AA
} 

.category-purple {
  color: #A88ADD
} 

.category-orange {
  color: #FCC100
} 

.category-blue {
  color: #6887FF
}

.category-green {
  color: #6CC788
}

.category-rose {
  color: #F77A99
}

.category-red {
  color: #F44455
}