//*= require fullcalendar
@import 'shared';
@import 'fullcalendar.theme';

div.app-body-inner {
  padding-top: 0 !important;
}

div.task-actions {
  // margin-left: 10px;
}

.new-action-input, .new-action-input:focus {
  border-color: rgba(255, 255, 255, 0.3) !important;
}

.action-box-header {
  display: flex;
  padding: 5px !important;
  padding-left: 1rem !important;
}
