//*= require fullcalendar
@import 'shared';
@import 'fullcalendar.theme';

div.app-body-inner {
  padding-top: 0 !important;
}

div.task-actions {
  // margin-left: 10px;
}

.new-action-input, .new-action-input:focus {
  border-color: rgba(255, 255, 255, 0.3) !important;
}

.action-box-header {
  display: flex;
  padding: 5px !important;
  padding-left: 1rem !important;
}

#goals-section {
  width: 20%;
}

div.list-item:hover {
  background-color: #f1f1f1;
}

// Calendar widget
  div.fc-left {
    margin-left: 10px;
  }

  .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
  }

// Sortable styles
.task-placeholder {
  border: 1px dashed #787878;
  background-color: #f1f0f0;
  min-height: 40px;
  list-style: none;
}