/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'colors';

.w-150 {
  width: 150px;
}

.hidden {
  display: none;
}

.error-box {
  background-color: #F09A9A;
};

// New comment form
.new-comment-input, .new-comment-input:focus {
  border-color: rgba(255, 255, 255, 0.3) !important;
}

.comment-box-header {
  display: flex;
  padding: 5px !important;
  padding-left: 1rem !important;
}

.avatar {
  font-weight: normal !important;
}

.search-tag-item {
  margin: 5px;
}

.list-right {
  float: right;
  padding-left: 1rem;
}