<% if tags.present? %>
  <div class="p-a-sm">
    <% tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag.name), class: "btn btn-lg btn-outline rounded b-primary text-primary search-tag-item" %>
    <% end %>
  </div>
<% else %>
  <%= render partial: 'no_content' %>
<% end %>